@model Wkhtml.WeatherForecast

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <h1>Hola a dfdf</h1>
    </header>
    <div>
        <h2>Este es un pdf cxcxc</h2>
        <h2>@Model.Date</h2>
        <h2>@Model.TemperatureF</h2>
        <h2>@Model.TemperatureC</h2>
    </div>
</body>
</html>